* {
    margin: 0;
    padding: 0;

}
body {
    background-color: aqua;
    text-align: center;

}
.container{
    height: 70vh ;
     display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
    
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.3 );
    font-size: 8vim;
    color: blue;
    Background-color: rgb(196, 129, 92);
    text-size: 5rem;

}
#reset-button{
    padding: 2rem;
    font-size: 1.5rem;
    background-color: blanchedalmond;
    color: rgb(151, 96, 0);
    border-radius: 1.2rem;
    border: none;
}
#new-game-button
{
    padding: .5rem;
    font-size: 1.5rem;
    background-color: rgb(223, 166, 82);
    color: rgb(151, 96, 0);
    border-radius: 1.2rem;*/
    border: none;
}
.message-container{
    font-size: 8 vmin;
    color: rgb(151, 96, 0);
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;

}
#message{
    font-size: 100px;
    color: rgb(255, 173, 40);
}
.hide{
    display: none;
}
button {
    font-size: 8vmin;
}